# Square occluder (side 1, height 1) under a square light (side 1, height 3):
# visibility on the floor has a closed form.
name analytic
mesh procedural analytic h=1 occ=1
up 0 1 0
view 0 5 5  0 0 0  60
point_light 0.3 3 0.2
area_light 0 3 0  1 0 0  0 0 1
