# Conference room (Anat Grynberg and Greg Ward), McGuire Computer Graphics Archive version.
# Run scripts/fetch_scenes.sh first.
name conference
mesh obj scenes/downloaded/conference/conference.obj
up 0 1 0
orbit 330 180 -190  700 120 12 65
point_light 300 600 -200
area_light 330 620 -190  120 0 0  0 0 120
